.lux_navi---699b67652765d{

    &.root {
        color: white;
    }

    a {
        background-color: yellow;
        text-decoration: none;

        border-bottom: 6px solid white;

        display: inline-block;
        line-height: 8px;
        margin: 0 2em 2em 0;
    }

}