<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="favicon-32x32.png">
    <title>die L.U.X sagt hallo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Inter:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header>
        <h1><span class="l">L.</span><span class="u">U.</span><span class="x">X</span></h1>
    </header>
    <main class="dates">
        <section>
            <div class="when">DO 28.4.</div>
            <div class="details">
                <h2>Mitternachtsmatinée</h2>
                <p>
                    mit <strong>Käptn Ziegel</strong> und seinen alten Platten
                    <br>Eintritt Frei
                </p>
            </div>
        </section>

        <section>
            <div class="when">FR 29.4.</div>
            <div class="details">
                <h2>Friday I'm in Love</h2>
                <p>
                    mit <strong>Hannomak</strong> & <strong>Mannomann</strong>
                    <br>Indie-weekend-start
                    <br>Eintritt Frei
                </p>
            </div>
            
        </section>

        <section>
            <div class="when">SA 30.4.</div>
            <div class="details">
                <h2>Saturday Night Fever</h2>
                <p>
                    Powerdisko mit <strong>Tobi3000</strong>
                    <br>DJ-2-Euro
                </p>
            </div>
            
        </section>
    </main>

    <aside>
        Liebe Gäste und Freunde der L.U.X,
<p>
wegen der schwierigen Umstände und aus
Fürsorge gegenüber gefährdeter Personen
haben wir bis weiteres keinen öffentlichen
Gastzugang mehr. Wir wünschen Euch und
auch Uns eine gesunde Zukunft .
<p>
Bis denn dann ... die L.U.X 
    </aside>

    <footer>
    <nav>
        <a href="impressum">Impressum</a>
        <a href="datenschutz">Datenschutz</a>
    </nav>
</footer>
</body>
<script src="app.js"></script>
</html>